<div class="container-l footer-container container-padding">
    <div class="container-f flex bg-white footer-top">
        <img src="../img/logo/logo-footer.webp" alt="Digitrust">
    </div>

    <div class="container-f flex footer-bottom">

        <div class="flex flex-col footer-bottom__content">
            <h3>CÔNG TY TNHH DIGITRUST</h3>
            <p>341A Lê Trọng Tấn</p>
            <p>ĐT: 0971077678 – 0918 240 739</p>
            <p>Thời gian hoạt động:</p>
            <p>Email: abc@gmail.com</p>
        </div>

        <div class="flex flex-col footer-bottom__content">
            <h3>Thông tin công ty</h3>
            <a href="#">Về chúng tôi</a>
            <a href="#">Thông tin công ty</a>
            <a href="#">Tên miền</a>
            <a href="#">Điều kiện kinh doanh</a>
        </div>

        <div class="flex flex-col footer-bottom__content">
            <h3>Sản phẩm</h3>
            <a href="#">EV SSL</a>
            <a href="#">Cloud Web Server</a>
            <a href="#">Web Hosting</a>
            <a href="#">Secure Site Pro</a>
        </div>
        <div class="flex flex-col footer-bottom__content">
            <h3>Hỗ trợ </h3>
            <a href="#">Liên hệ</a>
            <a href="#">Hệ thống ticket</a>
            <a href="#">Liên hệ hỗ trợ</a>
            <a href="#">Hỗ trợ / trợ giúp về máy chủ</a>
        </div>

        <div class="flex flex-col footer-bottom__content">
            <h3>Nhóm chính sách & Pháp lý</h3>
            <a href="#">Điều khoản sử dụng</a>
            <a href="#">Chính sách bảo mật</a>
            <a href="#">Chính sách pháp lý</a>
            <img src="../../img/logo/bo-cong-thuong.webp" alt="logo bộ công thương">
        </div>

    </div>
</div>